<app-navbar></app-navbar>
<div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a data-toggle="pill" href="#profile">Account Info</a></li>
      <li role="presentation"><a data-toggle="pill" href="#password">Change Password</a></li>
    </ul>


    <div class="tab-content">
      <div id="profile" class="tab-pane fade in active">
        <div class="panel panel-success">
          <div class="panel-heading">Email</div>
          <div class="panel-body">{{email}}</div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">User name</div>
          <div class="panel-body">{{username}}</div>
        </div>
      </div>

      <div id="password" class="tab-pane fade">
        <form class="navbar-form well">
          <button type="button" class="btn btn-large btn-success">Reset password via email</button>
        </form>
      </div>
    </div>

</div>
