<app-navbar></app-navbar>
<app-add-problem></app-add-problem>
<div class="container">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let prob of problems | problemListFilter: filterWord"
       [routerLink]="['/problems',prob.id]" routerLinkActive="active">
      <span class="{{'pull-left label difficulty diff-' + prob.difficulty.toLocaleLowerCase()}}">
        {{prob.difficulty}}
      </span>
      <strong class="title">{{prob.id}}. {{prob.name}}</strong>
    </a>
  </div>
</div>
